<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
  </form>
  <p>Tableau Livre</p>
  <table>
    <thead>
      <tr>
      <td>Auteur</td>
      <td>Titre</td>
      <td>Catégorie</td>
    </tr>
<tr>
  <td><%= name%></td>
  <td><%= titleBook%></td>
  <td><%= categBook%></td>
</tr>
    </form>
    </thead>
    <tbody>
    </tbody>
  </table>
  <form action="index" method="get">
    <a type="" href="">revenir à l'index</a>
  </form>
  </body>

</html>
